body {
    margin: 0; /* Убираем белые полосы по краям экрана */
    font-family: "Open Sans", sans-serif; /* стиль текста */
}

.container {
    margin: 0px 166px; /* сдвигаем логотип от края страницы */
}


.header { /* Фоновое изображение */
    background-image: url(Photo/verh2.png); /* изображение фона */
    height: 100vh; /* на весь экран */
    background-repeat: no-repeat; /* Изображение не повторяет себя же, если не заполняет экран */
    background-size: cover; /* размер по размеру экрана */
}

.color-strip {
    background: linear-gradient(#ff6200ad , #301000ad, #100000ad); /* Цвет */
    height: 196px; /* высота */
}

.header-line {
    padding-top: 30px; /* отступ от верхней части cайта */
    display: flex; /* Элементы в строку друг за другом */
    align-items: center; /* выравниваем */
    justify-content: space-around; /* свободное пространство делится поровну между элементами */
}

.navigation-item {
    color: #fff; /* цвет */
    text-decoration: none; /* убираем подчёркивание */
    font-weight: 700; /* толщина текста */
    font-size: 21px; /* размер текста */
    margin-right: 25px; /* расстояние между элементами */

    transition: color 0.3s linear; /* плавное изменение цвета текста */
}

.navigation-item:hover{ /* псевдокласс, котоырй срабатывает, когда пользователь наводит на элемент мышью */
    color: #f53838; /* цвет при наведении на текст */
}

.phone {
    border-left: 1px solid #FFF; /* граница слева с толщиной и цветом */
    padding-left: 10px; /* отступ от изображения */
    height: 80px; /* высота */
}

.num {
    color: #fff; /* цвет */
    text-decoration: none; /* убираем подчёркивание */
    font-weight: 700; /* толщина текста */
    font-size: 20px; /* размер текста */

    transition: color 0.3s linear; /* плавное изменение цвета текста */
}

.num:hover { /* псевдокласс, котоырй срабатывает, когда пользователь наводит на элемент мышью */
    color: #f53838; /* цвет при наведении на текст */
}

.phone-text {
    color: #fff; /* цвет */
    font-weight: 700; /* толщина текста */
    font-size: 15px; /* размер текста */
}

.phone-holder {
    display: flex; /* Элементы в строку друг за другом */
    align-items: center; /* выравниваем */
}

.button {
    background-color: #FF7400; /* цвет за текстом */
    color: #fff; /* цвет */
    text-decoration: none; /* убираем подчёркивание */
    padding: 14px 18px; /* отступ сверху и снизу, справа и слева */
    font-weight: 700; /* толщина текста */

    transition: background-color 0.18s linear; /* плавное изменение цвета текста */
}

.button:hover { /* псевдокласс, котоырй срабатывает, когда пользователь наводит на элемент мышью */
    background-color: #af801ac4; /* цвет при наведении на текст */
}

.header-hello {
    position: relative; /* делаем класс-родитель */  /*Положение элемента устанавливается относительно его исходного места. Добавление свойств left, top, right и bottom изменяет позицию элемента и сдвигает его в ту или иную сторону от первоначального расположения */
}

.color-strip-2 {
    background: linear-gradient(#ff6200ad , #301000ad, #100000ad); /* Цвет */
    height: 180px; /* высота */
    padding: 15px; /* Поля вокруг */
}

.hello {
    color: #ffffff; /* цвет */
    font-family: "Tinos", serif; /* стиль текста */
    font-size:50px; /* размер текста */
    font-weight: 400; /* толщина текста */
    text-align: center; /* выравниваем */
    position: absolute; /* Устанавливаем способ позиционирования элемента */
    margin-top: 222px; /* расстояние между элементами */
}

.subtitle-hello {
    color: #ffffff; /* цвет */
    font-size: 18px; /* размер текста */
    font-family: "Open Sans", sans-serif; /* стиль текста */
    margin-top: 22px; /* расстояние между элементами */
}

.subtitle-hello:after { /* Псевдоэлемент, который используется для вывода желаемого текста после содержимого элемента, к которому он добавляется */
    position: absolute; /* Устанавливаем способ позиционирования элемента */
    content: ""; /* генерируем содержание в текст веб-страницы, которое первоначально в тексте отсутствует (полоска) */
    height: 2px; /* высота */
    width: 61px; /* ширина */
    background-color: #FFF; /* цвет */
    left: 77px; /* положение */
    top: 165px; /* положение */
}

.subtitle-hello:before { /* Псевдоэлемент, который используется для вывода желаемого текста после содержимого элемента, к которому он добавляется */
    position: absolute; /* Устанавливаем способ позиционирования элемента */
    content: ""; /* генерируем содержание в текст веб-страницы, которое первоначально в тексте отсутствует (полоска) */
    height: 2px; /* высота */
    width: 61px; /* высота */
    background-color: #FFF; /* цвет */
    left: 320px; /* положение */
    top: 165px; /* положение */
}

.card-main {
    background: linear-gradient(#ff6200ad , #301000ad, #100000ad); /* Цвет */
    width: 256px; /* ширина */
    color: #ffffff; /* цвет */
    text-align: center; /* выравниваем */
    position: absolute; /* Устанавливаем способ позиционирования элемента */
    margin-top: 201px; /* расстояние между элементами */
    left: 1280px; /* положение */
    padding: 5px 10px; /* Поля вокруг */
}

.card-image {
    justify-content: center; /* Выравнивание элементов по центру */
}

.card-title {
    display: flex; /* контейнер будет занимать всю ширину экрана */
    justify-content: center; /* Выравнивание элементов по центру */
    margin-bottom: 20px; /* внешний отступ */
    font-family: "Tinos", serif; /* стиль текста */
    font-size: 21px; /* размер текста */
    font-weight: 400; /* толщина текста */
}

.card-title span {  /* основной строковым контейнером для фразового контента */
    background: linear-gradient(90deg, #f16e1d,#e1559e,#3ca7bf); /* Цвет с наклоном в 90 градусов */
    background-clip: text; /* определяет, выходит ли фон элемента под его рамку, поле заполнения или поле содержимого */
    -webkit-background-clip: text; /* Обрезаем фон по тексту */
    -webkit-text-fill-color: transparent; /* Прозрачный текст */
    padding-left: 4px; /* отступ */
}

.card-description {
    display: flex; /* контейнер будет занимать всю ширину экрана */
    justify-content: center; /* Выравнивание элементов по центру */
    font-family: "Tinos", serif; /* стиль текста */
    font-size: 21px; /* размер текста */
    font-weight: 400; /* толщина текста */
}